<div class="pied">
  <div class="container">
    <div class="row">
    <div class="signature col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5 class="space">eddie ©</h5>
        <h5>All rights reserved 2017</h5>
      </div>
      <div class="signature col-xs-12 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6 col-lg-2 col-lg-offset-6">
        <h5>ABOUT</h5>
        <p>Contact<br>
          Team<br>
          Press</p>
      </div>
      <div class="signature col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5>JOIN US</h5>
        <p>Career<br>
          FAQ<br>
      </div>
    </div>
  </div>
</div>
