.pied {
  width: 100%;
  background-color: #222;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white;
  position: absolute;
  bottom: 0;
}

.space {
  margin-bottom: 1em;
}

@media only screen and (max-width : 768px) {
.pied {
  text-align: center;
  h5 {text-align: center;
  }
}

/* Styles */
}
