.big-hero {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  height: 100vh;
  h3 {
    margin-bottom: 1.5em;
  }
}

h1 {
  margin: 0px;
  padding: 0px;
}

h4 {
  color: #888;
}

.big-title {
  padding-top: 35vh;
  margin: 0px;
}

.form-hero {
  margin-top: 5%;
  padding-left: 0px;
}

.form-case {
  width: 100% !important;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: none;
  margin-right: 2em;
  background: none;
  color: white;
  border-radius: initial;
}

.form-case:focus {
  box-shadow: none;
  color: white;
  border-radius: 0px;
  border-bottom: 1px solid $brand-color;
  }

.btn-hero {
  background-color: $brand-color;
  color: white;
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 15px 30px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: color, background-color
}

.btn-hero:hover {
  color: white;
  border: none;
  border-radius: 3px;
  animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: $red;
}

.categories {
  background-color: #eee;
  height: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  h3 {
    margin-bottom:1em;
  }
  h4 {
    width: 100%;
    text-align: center;
  }
}

.category-card {
  background-color: white;
  height: 250px;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: transform;

  .img-card {
    // background-image: image-url("photo.png");
    background-size: cover;
    padding: 1em;
    width: 85%;
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    h4 {color: white;}
  }
}
  .photo-card {background-image: image-url("photo.png")}
  .peinture-card {background-image: image-url("peinture.png")}
  .affiche-card {background-image: image-url("affiche.png")}
  .art-decoratif-card {background-image: image-url("art-decoratif.png")}
  .mobilier-card {background-image: image-url("mobilier.png")}
  .serigraphie-card {background-image: image-url("serigraphie.png")}
  .ceramique-card {background-image: image-url("ceramique.png")}
  .livre-card {background-image: image-url("livre.png")}

.category-card:hover {
  transform: scale(1.02);
}

.card {
  justify-content: middle;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("images/eddie-video-capture.png") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.month-selection {
  background-color: white;
  height: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  h3 {
    margin-bottom:1em;
  }
  h4 {
    width: 100%;
    text-align: center;
  }
}

.stopfade {
   opacity: .5;
}

@media only screen and (max-width : 768px) {
  .hero {margin: 0px 1em 0px 1em;}
  #bgvid {background-image:url("images/eddie-video-capture.png");}

/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1020px){
/* Styles */
  .hero {margin: 0px 2em 0px 2em;}
}
