.product-card {
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
  transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  margin-bottom: 20px;
}

.product-card:hover {
transform: scale(1.02);
}

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-card a:hover .fa {
 color : crimson;
}

.product-card a:hover {
  color: #000;
}

.product-card img {
  width: 100%;
  height: auto;
  min-height: auto;
  min-width: auto;
}

.product-card h2 {
  font-size: 18px;
  margin : 0;
  padding-left: 10px;
  text-overflow: ellipsis;
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
}

.product-card .format {
  font-size: 14px;
}

.footer-picture {
  width: 100%;
}

.footer-card {
  width: 100%;
  height: 60px;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-card .price {
  position: absolute;
  top : 8px;
  right: 8px;
}

.footer-card .card-basket {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.fa-pencil-square-o {
  position: absolute;
  top: 7px;
  right: 23px;
}

.fa-trash-o {
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal-body {
  display: block;
  height: auto;
}

.cart_image {
float: left;
}

.cart_content {
float: right
}

@media only screen and (max-width : 768px) {
  .product-card {margin-bottom: 2em;}
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1020px){
/* Styles */
 .product-card {margin-bottom: 2em;}
}

