
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-10">
      <% @products = @category.products %>
      <h4><%= @category.name.upcase %></h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-10">
        <%= render '/shared/card_product' %>
      </div>
    </div>
    </div>
  </div>
</div>




