<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <% if !params[:q].blank? %>
      <h3><%= params[:q].upcase %> PRODUCTS</h3>
    <% else %>
      <h3>OUR PRODUCTS</h3>
    <% end %>
  </div>
  <div class="row">
    <%= render '/shared/card_product' %>

    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
