<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <% if !params[:q].blank? %>
      <h1><%= params[:q] %> products</h1>
    <% else %>
      <h1>Our products</h1>
    <% end %>
  </div>
  <div class="row">
    <%= render '/shared/card_product' %>

    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
